In [2]:
print("Hello {} i will be there at {}".format("Anamika",'6 PM.'))

Hello Anamika i will be there at 6 PM.

In [6]:
a="Python"
print(f'Hello {a} world.')

Hello Python world.

In [7]:
type(a)

str

In [8]:
b=1234
type(b)

int

In [15]:
a=5
b=5
c=a*b
print(c)

25

In [17]:
a=int(input("Enter first no."))
b=int(input("Enter sec no."))
c=a+b
print(f"Addition of two no. is {c}")

Enter first no.45
Enter sec no.45
Addition of two no. is 90

In [25]:
x=int(2.5)

In [26]:
type(x)

int

In [27]:
w=['anamika',23,6]

In [28]:
type(w)

list

In [29]:
w[0]="iPhone"

In [30]:
w

['iPhone', 23, 6]

In [44]:
a=[1,3,5,7]

In [45]:
a.append(123123)

In [46]:
a

[1, 3, 5, 7, 123123]

In [47]:
a.pop()

123123

In [48]:
a

[1, 3, 5, 7]

In [49]:
a.sort()

In [50]:
a

[1, 3, 5, 7]

In [52]:
new_dict={'k1':['Anamika',1,4], 'k2':33, 'k3':"String"}
new_dict['k1']

['Anamika', 1, 4]

In [53]:
new_dict

{'k1': ['Anamika', 1, 4], 'k2': 33, 'k3': 'String'}

In [54]:
new_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [55]:
new_dict.values()

dict_values([['Anamika', 1, 4], 33, 'String'])

In [56]:
new_dict.items()

dict_items([('k1', ['Anamika', 1, 4]), ('k2', 33), ('k3', 'String')])

In [67]:
a=(9,4,2,1,1,1,1,1)

In [68]:
type(a)

tuple

In [69]:
a.count(1)

5

In [70]:
a.index(4)

1

In [71]:
a.index(1)

3

In [72]:
my_set=set()
my_set.add(1)
my_set

{1}

In [73]:
my_list=[1,1,1,1,5,6]

In [74]:
my_set=set(my_list)

In [75]:
my_set

{1, 5, 6}

In [83]:
my_list=[1,3,7,4]
for i in my_list:
    if i%2==0:
        print(i)

4

In [84]:
a="wisdom Sprout"
for i in a:
    print(i)

w
i
s
d
o
m

S
p
r
o
u
t

In [85]:
w="Hello world"
for i in w:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [86]:
tup=(1,2,2,4,5,6)
for i in tup:
    print(i)

1
2
2
4
5
6

In [87]:
my_list=[(1,3),(2,4),(5,6)]
for i in my_list:
    print(i)

(1, 3)
(2, 4)
(5, 6)

In [89]:
for (a,b) in my_list:
    print(a)
    print(b)

1
3
2
4
5
6

In [91]:
d={'key1':22, 'key2':66}
for i in d:
    print(i)

key1
key2

In [94]:
for values in d:
    print(i)

key2
key2

In [95]:
for i in d.items():
    print(i)

('key1', 22)
('key2', 66)

In [96]:
for i in d.values():
    print(i)

22
66

In [97]:
for i in d.keys():
    print(i)

key1
key2

In [101]:
for (key,value) in d.items():
    print(key)
    print(value)

key1
22
key2
66

In [107]:
for a in d.items():
    print(a)

('key1', 22)
('key2', 66)

In [109]:
a=int(input("Enter 1st no.:"))
b=int(input("Enter 2nd no.:"))
if a>b:
    print("a is greater")
else:
    print("b is highest")

Enter 1st no.:45
Enter 2nd no.:12
a is greater

In [112]:
a=int(input("Enter 1st no.:"))
b=int(input("Enter 2nd no.:"))
if a>b:
    print("A is greater")
elif a==b:
    print("Both are equal")
else:
    print("B is highest")

Enter 1st no.:23
Enter 2nd no.:23
Both are equal

In [3]:
my_list=[1,3,5]
for i in my_list:
    if i==3:
        break
    print(i)

1

In [6]:
my_list=[1,3,5,7]
for i in my_list:
    #do nothing
    pass

In [7]:
x=0
while x<5:
    print(x)
    x=x+1

0
1
2
3
4

In [14]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
a=list(range(2,10))

In [16]:
a

[2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
word="Anamika"
for i in enumerate(word):
    print(i)

(0, 'A')
(1, 'n')
(2, 'a')
(3, 'm')
(4, 'i')
(5, 'k')
(6, 'a')

In [23]:
l=list (enumerate(word))

In [24]:
l

[(0, 'A'), (1, 'n'), (2, 'a'), (3, 'm'), (4, 'i'), (5, 'k'), (6, 'a')]

In [27]:
for i,j in enumerate(word):
    print(i)
    print(j)
    print('\n')

0
A


1
n


2
a


3
m


4
i


5
k


6
a

In [33]:
my_list1=[1,3,6,4]
my_list2=['a','b','c','d']
my_list3=[100,200,300,400]
for i in zip(my_list1,my_list2,my_list3):
    print(i)

(1, 'a', 100)
(3, 'b', 200)
(6, 'c', 300)
(4, 'd', 400)

In [34]:
a=list(zip(my_list1,my_list2,my_list3))

In [35]:
a

[(1, 'a', 100), (3, 'b', 200), (6, 'c', 300), (4, 'd', 400)]

In [36]:
6 in (7,6,3)

True

In [42]:
'Anuj' in 'My name is Anuj'

True

In [47]:
'Wisdom' in {'Wisdom':2323}

True

In [56]:
a={'key1':2323,'key2':8989}
8989 in a.values()

True

In [61]:
a=[1,3,5,788]
min(a)

1

In [62]:
max(a)

788

In [69]:
a="Anamika"
my_list=[]
for i in a:
    my_list.append(a)

In [70]:
my_list

['Anamika', 'Anamika', 'Anamika', 'Anamika', 'Anamika', 'Anamika', 'Anamika']

In [67]:
a="Anamika"
my_list=[]
for i in a:
    my_list.append(i)

In [68]:
my_list

['A', 'n', 'a', 'm', 'i', 'k', 'a']

In [77]:
a="Google"
my_list=[i for i in a]
my_list

['G', 'o', 'o', 'g', 'l', 'e']

In [112]:
my_list=[i for i in range(0,10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
a=[2,4,6]
for i in a:
    print(i**2)

4
16
36

In [117]:
a=[i**2 for i in range(2,10)]
a

[4, 9, 16, 25, 36, 49, 64, 81]

In [119]:
b=[i**2 for i in range(0,10) if (i%2==0)]
b

[0, 4, 16, 36, 64]

In [120]:
c=[10,20,50]
f=[((9/5)*temp+32) for temp in c]
f

[50.0, 68.0, 122.0]

In [122]:
f=[]
for i in c:
    f.append((9/5)*i+32)
f

[50.0, 68.0, 122.0]